/SPMLAssignment1/build/
/SPMLAssignment1/nbproject/
/SPMLAssignment1/test/
/Assignment3/SPMLAssignment3/nbproject/private/
/Assignment3/OO_Assignment12Pleun/nbproject/private/
/Assignment3/OO_Assignment12Pleun/dist/
/Assignment3/OO_Assignment12Pleun/build/
/Assignment4/SPML4/nbproject/private/